<form [formGroup]="filterForm">
  <div class="borrowed-equipment-filter-container">
    <app-autocomplete [options]="departments" label="Department" formControlName="department"></app-autocomplete>
    <app-autocomplete label="Status" [options]="status" formControlName="status"/>
    <app-autocomplete label="Purpose" [options]="purposes" formControlName="purpose" />
    <div class="action-wrapper">
      <app-button (btnclicked)="navigate()">Apply</app-button>
      <app-button>Cancel</app-button>
    </div>
  </div>
</form>
