.matdrawer-side {
  width: 320px; /* change mat drawer size width */
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 12px;
}

.equipment-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.added-equipment-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 12px;
  text-align: center;
}
