<div [class.transparent]="isTransparent">
  <header id="header">
    <div class="nav-wrapper">
      <span style="flex: 1"></span>
      <ul class="navigation">
        @if (isLoggedIn()) {
          @if(canAccessInventory()) {
            <li><a routerLink="/inventory">Inventory</a></li>
          }
          <li><a routerLink="/borrow">Borrow</a></li>
          <li><a routerLink="/borrowed-equipment">Borrowed Equipment</a></li>
          <div class="avatar-wrapper">
            <app-avatar (avatarclicked)="onAvatarClicked()" [label]="user()?.name ?? ''" />
            <app-menu
              [show]="showAvatarMenu"
              (onActionClicked)="onActionClicked($event)"
              [title]="user()?.name ?? ''"
              [subtitles]="subtitles()"
            />
          </div>
        } @else {
          <app-button size="lg" (btnclicked)="login()" appearance="ghost"> Login </app-button>
          <app-button size="lg" appearance="filled" variant="accent"> Register </app-button>
        }
      </ul>
    </div>
  </header>
</div>
