<header id="header">
  <div class="header">
    <div class="nav-wrapper">
      <div class="logo-wrapper">
        <!-- <app-icon name="eco" size="lg"></app-icon> -->
        <div class="title">Asset Management</div>
      </div>
      <span class="spacer"></span>
      <ul class="navigation">
        @if (isLoggedIn()) {
          <li><a routerLink="/inventory">Inventory</a></li>
          <li><a routerLink="/borrow">Borrow</a></li>
          <li><a routerLink="/borrowed-equipment">Borrowed Equipment</a></li>
          <div class="avatar-wrapper">
            <app-avatar (avatarclicked)="onAvatarClicked()" />
            <app-menu [show]="showAvatarMenu" (onActionClicked)="onActionClicked($event)"></app-menu>
          </div>
        } @else {
          <li><a (click)="login()">Login</a></li>
        }
      </ul>
    </div>
  </div>

  <div class="sidenav-container" [class.opened]="sidenav_opened">
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Profile</a>
  </div>
</header>
