<!-- <div class="container">
  <div class="wrapper-title underlined">History</div> -->
<div class="step">
  <div class="v-stepper">
    <div class="circle" [ngClass]="[variant]">
      <div class="dot-icon"></div>
    </div>
    <div class="line" [class.hasline]="showLine"></div>
  </div>

  <div class="step-content">
    <div class="step-header">
      @if(title) {
        <div class="title">{{ title }}</div>
      }
      <ely-badge [variant]="variant" size="xs">{{ badgeContent }}</ely-badge>
      <span style="flex: 1"></span>
      <span class="time">{{ time }}</span>
    </div>
    <!-- sub contents -->
    <ng-content></ng-content>
  </div>
</div>
<!-- </div> -->
