<div class="card-container" [ngClass]="[size, type, shade]">
  <div class="image-wrapper">
    <img class="fit-image" [src]="image" />
  </div>
  <div class="equipment-name">{{ equipment.name }}</div>
  <div class="brand-qty">
    <span>{{ equipment.brand }}</span>
  </div>
  <div class="availability">
    <ely-badge [variant]="totalAvailable > 0 ? 'success' : 'danger'" size="xs">
      {{ availability }}
    </ely-badge>
    <app-icon name="info_outlined" tooltip="Equipment Info" (iconclicked)="onViewEquipmentInfo()" />
  </div>
  <div class="action-wrapper">
    <ely-button icon="add" width="width-filled" variant="primary" (click)="onAddEquipment()" size="md">
      Add
    </ely-button>
  </div>
</div>
