.card-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  .equipment-name {
    font-weight: 500;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  mat-icon {
    height: 13px;
    width: 13px;
    font-size: 13px;
    aspect-ratio: 1/1;
  }

  .brand-qty,
  .availability {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    line-height: 1;
  }

  .brand-qty span:nth-child(1) {
    flex: 1;
  }
}

.image-wrapper {
  height: 120px;
}
.fit-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* sizes */
.card-container.md {
  width: 180px;
  padding: 10px;
  border-radius: 0.5rem;
  gap: 5px;
}

/* color */
.card-container.primary {
  background: var(--primary-50);
}

@media screen and (max-width: 420px) {
  .card-container {
    min-width: 250px;
  }
}
