<div class="card-container" [ngClass]="[size, type, shade]">
  <div class="image-wrapper">
    <img class="fit-image" [src]="image" />
  </div>
  <div class="equipment-name">{{ equipment.name }}</div>
  <div class="brand-qty">
    <span>{{ equipment.brand }}</span>
    <app-icon name="numbers"></app-icon>
    <span>{{ equipment.totalQuantity }}</span>
  </div>
  <div class="availability">
    <span>UNAVAILABLE</span>
    <app-icon name="info"></app-icon>
  </div>
  <div class="action-wrapper">
    <app-button width="width-filled" type="success" (click)="onAddEquipment()">ADD</app-button>
  </div>
</div>
