<div class="card-container" [ngClass]="[size, type, shade]">
  <div class="image-wrapper">
    <img class="fit-image" [src]="image" />
  </div>
  <div class="equipment-name">{{ equipment.name }}</div>
  <div class="brand-qty">
    <span>{{ equipment.brand }}</span>
  </div>
  <div class="availability">
    <app-badge [type]="totalAvailable > 0 ? 'success' : 'danger'" size="sm">
      {{ availability }}
    </app-badge>
    <app-icon name="info" tooltip="Equipment Info" (iconclicked)="onViewEquipmentInfo()" />
  </div>
  <div class="action-wrapper">
    <app-button
      icon="add"
      width="width-filled"
      type="primary"
      (click)="onAddEquipment()"
      >Add
    </app-button>
  </div>
</div>
