.equipment-filter-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2em;
  gap: 20px;
  max-height: 80vh;
  max-width: 650px;
}