<form [formGroup]="filterForm">
  <div class="equipment-filter-container">
    <ely-autocomplete [options]="departments" label="Department" formControlName="department" placeholder="Start typing..."/>
    <ely-autocomplete [options]="brands" label="Brand" formControlName="brand" placeholder="Start typing..."/>
    <ely-autocomplete [options]="equipmentCondition" label="Condition" formControlName="condition" placeholder="Start typing..."/>
    <ely-dropdown [options]="['Yes', 'No']" label="Can Be Borrowed" (valueChange)="onCanBeBorrowedChange($event)" placeholder="Select.."/>
    <!-- <ely-autocomplete [options]="brands" label="Brand" formControlName="brand"/>
    <ely-autocomplete [options]="equipmentTypes" label="Equipment Type" formControlName="equipmentType"/>
    <ely-autocomplete [options]="categories" label="Categories" formControlName="categories"/>
    <ely-autocomplete [options]="equipment_types" label="Location" formControlName="location"/> -->
    <div class="action-wrapper">
      <ely-button (btnclicked)="navigate()">Apply</ely-button>
      <ely-button>Cancel</ely-button>
    </div>
  </div>
</form>