<form [formGroup]="filterForm">
  <div class="equipment-filter-container">
    <app-autocomplete [options]="departments" label="Department" formControlName="department"/>
    <!-- <app-autocomplete [options]="brands" label="Brand" formControlName="brand"/>
    <app-autocomplete [options]="equipmentTypes" label="Equipment Type" formControlName="equipmentType"/>
    <app-autocomplete [options]="categories" label="Categories" formControlName="categories"/>
    <app-autocomplete [options]="equipment_types" label="Location" formControlName="location"/> -->
    <div class="action-wrapper">
      <app-button (btnclicked)="navigate()">Apply</app-button>
      <app-button>Cancel</app-button>
    </div>
  </div>
</form>