<div class="container">
  <div class="dialog-header">
    <div>
      <p class="dialog-title">Download report</p>
      <p class="dialog-sub">Configure fields and paper settings</p>
    </div>
    <app-icon size="lg" name="close" (iconclicked)="onClose()" />
  </div>
  <mat-divider></mat-divider>
  <div class="content-body">
    <!-- <app-toggle-button-group [options]="['A4', 'Letter', 'Legal']" label="Paper Size" /> -->
    <div class="fields-grid">
      @for (field of equipmentFields; track field) {
        <div class="field">
          <app-toggle [label]="field.label" [isChecked]="field.checked" />
        </div>
      }
    </div>
  </div>
</div>
