.snackbar-container {
  display: flex;
  width: 640px;
  min-height: 35px;
  padding: 6px 16px;
  gap: 4px;
}

.snackbar-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  gap: 12px;

  .icon-wrapper {
    display: flex;
    align-items: center;
    height: -webkit-fill-available;
  }

  .icon-wrapper.hasheader {
    align-items: flex-start;
  }

  .snackbar-icon {
    width: var(--font-size-xl);
    height: var(--font-size-xl);
    font-size: var(--font-size-xl);
    aspect-ratio: 1/1;
  }

  .content-wrapper {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    gap: 4px;

    .header {
      line-height: var(--line-height-sm);
      font-weight: var(--font-weight-medium);
      font-feature-settings: 'case' on;
    }

    .description {
      line-height: var(--line-height-sm);
      font-weight: var(--font-weight-book);
      font-feature-settings: 'case' on;
      /* ul and li bullt padding overrides*/
      margin: 0;
      padding-left: 1rem;
    }

    .description.unlist {
      list-style-type: none;
      padding: 0;
    }

    .action-wrapper {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

.snackbar-container.primary {
  border-radius: 12px;
  background: var(--primary-200);
  color: var(--color-text-primary-default);
  font-size: var(--font-size-sm);
}

.snackbar-container.success {
  border-radius: 12px;
  /* border: 1px solid var(--color-border-success-idle); */
  background: var(--color-bg-success-idle);
  color: var(--color-text-success-default);
  font-size: var(--font-size-sm);
}

.snackbar-container.warning {
  border-radius: 12px;
  background: var(--warning-200);
  color: var(--color-text-warning-default);
  font-size: var(--font-size-sm);
}

.snackbar-container.error {
  border-radius: 12px;
  background: var(--danger-300);
  color: var(--color-text-danger-default);
  font-size: var(--font-size-sm);
}
