<div class="borrowed-equipment-page-container">
  <app-title-section>Borrowed Equipments</app-title-section>
  <app-borrowed-equipment-toolbar />
  <div class="borrowed-equipment-wrapper">
    <app-row-header />
    @for(eqpmnt of borrowed_equipment(); track $index) {
    <app-row-display
      [image]="eqpmnt.equipment.images[0]?.thumbnail ?? ''"
      [title]="eqpmnt.equipment.name"
      [subtitle]="eqpmnt.purpose"
      [contents]="borrowedEquipmentContents(eqpmnt)"
      [actions]="borrowedEquipmentActions"
      (actionclicked)="onActionClicked($event, eqpmnt)"
    />
    }@empty {
    <app-empty-placeholder />
    }
    <div class="bottom-action-wrapper">
      @if(!disable_showmore) {
      <app-button>Show more... </app-button>
      }
    </div>
  </div>
</div>
