<div class="borrowed-equipment-page-container">
  <app-title-section>Borrowed Equipments</app-title-section>
  <app-borrowed-equipment-toolbar [filters]="filterValues" />
  <span style="text-align: center;"> {{ user.name }}</span>
  <div class="borrowed-equipment-wrapper">
    <app-row-header />
    <!-- @for(eqpmnt of borrowed_equipment(); track eqpmnt.trackId) {
    <app-row-display
      [image]="eqpmnt.equipment.images[0]?.thumbnail ?? ''"
      [title]="eqpmnt.equipment.name"
      [subtitle]="eqpmnt.purpose"
      [contents]="getBorrowedEquipmentContents(eqpmnt)"
      [actions]="getBorrowedEquipmentActions(eqpmnt)"
      (actionclicked)="onActionClicked($event, eqpmnt)"
    />
    }@empty {
    <app-empty-placeholder />
    } -->
    <div class="bottom-action-wrapper">
      @if(!disable_showmore) {
      <app-button (btnclicked)="loadMoreBorrowedEquipment()">Show more... </app-button>
      }
    </div>
  </div>
</div>
