<div class="equipment-container">
  <div class="image-wrapper">
    <img class="fit-image" [src]="image ? image : default_img" />
  </div>
  <div class="equipment-name">
    <span class="title">{{ title }}</span>
    <span class="subtitle">{{ subtitle }}</span>
  </div>
  @for(content of contents; track content) { @if(content.type == 'badge') {
  <span *ngFor="let content of content.content">
    <app-badge size="md" type="success">{{ content }}</app-badge>
  </span>
  } @else {
  <span *ngFor="let content of content.content">{{ content }}</span>
  } }
  <div class="action-wrapper">
    <app-icon name="info" size="sm"></app-icon>
    <app-icon name="edit" size="sm"></app-icon>
    <app-icon name="content_copy" size="sm"></app-icon>
  </div>
</div>
<mat-divider></mat-divider>
