.equipment-container {
  min-width: 1100px;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 15px;
}

.image-wrapper {
  width: 50px;
  height: 50px;
}
.fit-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.equipment-container .image-gap {
  width: 50px;
}

.equipment-container .wide {
  flex-basis: 30%;
}

.equipment-container .mid {
  flex-basis: 15%;
}

.equipment-container .narrow {
  flex-basis: 8%;
}

.equipment-container .title {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-700);
}

.badge-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.action-wrapper {
  display: flex;
  gap: 2px;
  align-items: flex-start;
  flex-direction: column;
}
