.btn-custom {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: 0.5s ease;
  background-color: transparent;
  font-weight: 550;
  font-family: 'Poppins';
  border-radius: 4px;
}

.btn-custom.primary {
  border: none;
  background: var(--primary);
  color: var(--text-white);
}

.btn-custom.secondary {
  border: none;
  background: var(--secondary);
  color: var(--text);
}

.btn-custom.accent {
  border: none;
  background: var(--accent);
  color: var(--text-white);
}

.btn-custom.secondary.light {
  border: none;
  background: var(--secondary-100);
  color: var(--text);
}

.btn-custom.success {
  border: 2px solid var(--color-border-success-idle);
  background: var(--color-bg-success-idle);
  color: var(--color-text-success-default);
}

.btn-custom:disabled,
.btn-custom[disabled] {
  border: none;
  background: var(--color-bg-gray-idle);
  color: var(--color-text-gray-light);
}

/* appearance */
.btn-custom.link {
  border: none;
  &:hover {
    text-decoration: underline;
    font-weight: 550;
  }
}

.btn-custom.filled.accent {
  background-color: var(--accent);
  border: 2px solid var(--accent);
}

.btn-custom.ghost {
  border: 2px solid var(--color-text-white);
  background: transparent;
  color: var(--color-text-white);
}

/*
* Sizes
*/
.btn-custom.xs {
  padding: 4px 6px;
  line-height: var(--font-size-xs);
  font-size: var(--font-size-xs);
}

.btn-custom.sm {
  border-radius: 5px;
  padding: 4px 8px;
  line-height: var(--font-size-sm);
  font-size: var(--font-size-sm);
}

.btn-custom.md {
  padding: 4px 8px;
  line-height: var(--font-size-md);
  font-size: var(--font-size-md);
}

.btn-custom.lg {
  padding: 7px 18px;
  line-height: var(--font-size-lg);
  font-size: var(--font-size-lg);
}

.btn-custom.width-filled {
  width: 100%;
}
