#toolbar {
  display: flex;
  justify-content: center;
}

.toolbar-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-width: 1150px;
  width: 100%;
  padding: 1.5rem 2.5rem;
}

.filter-badge-wrapper {
  display: flex;
  padding: 10px;
  gap: 5px;
}

.spacer {
  flex: 1;
}
