<div class="toolbar-container">
  <div class="filter-badge-wrapper">
    @for (filter of filters(); track filter.field) {
      @if (filter.show) {
        <ely-badge size="sm" [hasCloseIcon]="filter.canClose" (closed)="onBadgeClosed(filter)">
          {{ filter['value'] }}
        </ely-badge>
      }
    }
  </div>
  <span class="spacer"></span>
  @if (showClearFilter()) {
    <ely-button appearance="link" icon="history" (btnclicked)="clearFilter()">
      Clear Filters
    </ely-button>
  }
  <ely-button appearance="link" icon="assignment_outline" (btnclicked)="onToggleBorrowForm()">
    Open Borrow Form
  </ely-button>
  <ely-button appearance="link" icon="filter_list" (btnclicked)="openFilterDialog()">
    Filter
  </ely-button>
  <ely-input suffixIcon="search" [formControl]="searchControl" placeholder="Equipment Name" />
</div>
