<div class="equipment-detail-container">
  <div class="image-wrapper">
    <img class="fit-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
  </div>
  <div class="detail-wrapper">
    <div class="label-wrapper">
      <div class="subtitle">Name</div>
      <div class="label">10 Pcs Hex Key</div>
    </div>
    <mat-divider></mat-divider>
    <div class="label-wrapper">
      <div class="subtitle">Equipment Type</div>
      <div class="label">wrenches</div>
    </div>
    <mat-divider></mat-divider>
    <div class="label-wrapper">
      <div class="subtitle">Categories</div>
      <div class="label">Handtools</div>
    </div>
    <mat-divider></mat-divider>
    <div class="label-wrapper">
      <div class="subtitle">Serial No</div>
      <div class="label">N/A</div>
    </div>
    <mat-divider></mat-divider>
    <div class="label-wrapper">
      <div class="subtitle">Model</div>
      <div class="label">69-230</div>
    </div>
    <mat-divider></mat-divider>
    <div class="label-wrapper">
      <div class="subtitle">Brand</div>
      <div class="label">sStanley</div>
    </div>
    <mat-divider></mat-divider>
    <div class="label-wrapper">
      <div class="subtitle">Matter</div>
      <div class="label">solid</div>
    </div>
    <mat-divider></mat-divider>
    <div class="label-wrapper">
      <div class="subtitle">Color</div>
      <div class="label">Black</div>
    </div>
    <mat-divider></mat-divider>
    <div class="label-wrapper">
      <div class="subtitle">Inventory Type</div>
      <div class="label">Inventory</div>
    </div>
    <mat-divider></mat-divider>
    <div class="label-wrapper">
      <div class="subtitle">Location</div>
      <div class="label">B1-04</div>
    </div>
    <mat-divider></mat-divider>
    <div class="label-wrapper">
      <div class="subtitle">Condition</div>
      <div class="label">functional (1)</div>
    </div>
  </div>
</div>
