.equipment-detail-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2em;
  gap: 20px;
  max-height: 80vh;
  max-width: 650px;
}

.image-wrapper {
  width: 100px;
  height: 100px;
}
.fit-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;


  .label-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
  }

  .label {
    text-align: end;
    padding-top: 3px;
  }

  .subtitle {
    color: rgba(0, 0, 0, 0.5);
  }
}
