<div class="equipment-detail-container">
  <div class="image-wrapper">
    <img class="fit-image" [src]="data.images[0]?.thumbnail ?? default_img" />
  </div>
  <div class="detail-wrapper">
    <div class="label-wrapper">
      <div class="subtitle">Name</div>
      <div class="label">{{ data.name }}</div>
    </div>
    <mat-divider></mat-divider>
    <div class="label-wrapper">
      <div class="subtitle">Equipment Type</div>
      <div class="label">{{ data.equipmentType }}</div>
    </div>
    <mat-divider></mat-divider>
    <div class="label-wrapper">
      <div class="subtitle">Categories</div>
      <div class="label">{{ data.categories }}</div>
    </div>
    <mat-divider></mat-divider>
    <div class="label-wrapper">
      <div class="subtitle">Serial No</div>
      <div class="label">{{ data.serialNo }}</div>
    </div>
    <mat-divider></mat-divider>
    <div class="label-wrapper">
      <div class="subtitle">Model</div>
      <div class="label">{{ data.modelNo }}</div>
    </div>
    <mat-divider></mat-divider>
    <div class="label-wrapper">
      <div class="subtitle">Brand</div>
      <div class="label">{{ data.brand }}</div>
    </div>
    <mat-divider></mat-divider>
    <div class="label-wrapper">
      <div class="subtitle">Matter</div>
      <div class="label">{{ data.matter }}</div>
    </div>
    <mat-divider></mat-divider>
    <div class="label-wrapper">
      <div class="subtitle">Color</div>
      <div class="label">{{ data.color }}</div>
    </div>
    <mat-divider></mat-divider>
    <div class="label-wrapper">
      <div class="subtitle">Inventory Type</div>
      <div class="label">{{ data.inventorytype }}</div>
    </div>
    <mat-divider></mat-divider>
    <div class="label-wrapper">
      <div class="subtitle">Location</div>
      <div class="label">{{ data.location }}</div>
    </div>
    <mat-divider></mat-divider>
    <div class="label-wrapper">
      <div class="subtitle">Condition</div>
      @for(condition of data.conditionAndQuantity; track condition) {
      <div class="label">{{ condition | conditionQuantity }}</div>
      }
    </div>
  </div>
</div>
