<form>
  <div class="login-container">
    <app-input [formControl]="schoolId" suffix_icon="person" placeholder="School Id" />
    <app-input
      [inputType]="inputType"
      [formControl]="password"
      suffix_icon="password"
      [suffix_icon_clickable]="true"
      placeholder="Password"
      (suffixIconClick)="onPasswordSuffixIconClick()"
    />
    <div class="action-wrapper">
      <ely-button icon="login" width="width-filled" variant="primary" (click)="login()">
        Login
      </ely-button>
    </div>
  </div>
</form>
