<form>
  <div class="login-container">
    <ely-input
      class="field-underline"
      [hasRadius]="false"
      [formControl]="schoolId"
      suffixIcon="person"
      placeholder="School Id"
    />
    <ely-input
      class="field-underline"
      [hasRadius]="false"
      [type]="inputType"
      [formControl]="password"
      suffixIcon="password"
      [suffixIconClickable]="true"
      placeholder="Password"
      (suffixIconClick)="onPasswordSuffixIconClick()"
    />
    <div class="action-wrapper">
      <ely-button icon="login" width="width-filled" variant="primary" (click)="login()">
        Login
      </ely-button>
    </div>
  </div>
</form>
