.equipment-container {
  min-width: 900px;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 15px;
}

.image-wrapper {
  width: 50px;
  height: 50px;
}
.fit-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.equipment-container span {
  flex-basis: 15%;
}

.equipment-name {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  line-height: normal;

  .title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--success-800);
  }

  .subtitle {
    color: var(--gray-600);
  }
}


.action-wrapper {
 display: flex;
 gap: 10px;
 align-items: center;
}