<div class="equipment-container">
  <div class="image-wrapper">
    <img class="fit-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
  </div>
  <div class="equipment-name">
    <span class="title">10 Pcs Hex Key</span>
    <span class="subtitle">20003 | Stanley</span>
  </div>
  <span>Allen Keys/ Wrenches</span>
  <span>Inventory</span>
  <span># 2 functional</span>
  <span># 1 borrowed</span>
  <div class="action-wrapper">
   <app-icon name="info" size="sm"></app-icon>
   <app-icon name="edit" size="sm"></app-icon>
   <app-icon name="content_copy" size="sm"></app-icon>
  </div>
</div>
<mat-divider></mat-divider>
