<mat-form-field [floatLabel]="floatLabel" [appearance]="appearance">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    type="text"
    [placeholder]="placeholder"
    [formControl]="myControl"
    [matAutocomplete]="auto"
    (input)="onInput($event)"
  />
  <mat-autocomplete
    autoActiveFirstOption
    #auto="matAutocomplete"
    (optionSelected)="onOptionSelected($event)"
  >
    @for (option of filteredOptions | async; track option.value) {
    <mat-option [value]="option.value">{{ option.view }}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
