@if(type == 'datepicker') {
<mat-form-field [floatLabel]="floatLabel" [appearance]="appearance">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [matDatepicker]="picker"
    [(ngModel)]="value"
    [placeholder]="placeholder"
    (dateChange)="onDateChange($event)"
  />
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
}@else {
<mat-form-field [floatLabel]="floatLabel" [appearance]="appearance">
  <mat-label>{{ label }}</mat-label>
  <mat-date-range-input [formGroup]="daterangeForm" [rangePicker]="picker">
    <input
      matStartDate
      formControlName="start"
      (dateChange)="onStartDateChange($event)"
      [placeholder]="placeholder"
    />
    <input
      matEndDate
      formControlName="end"
      (dateChange)="onEndDateChange($event)"
      [placeholder]="placeholder"
    />
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
}
