.label {
 font-style: normal;
 margin-bottom: 5px;
}

.label .tag {
 font-size: var(--font-size-xs);
}

input:not([type='range']):not([type='checkbox']):not([type='radio']):not(form.elicit *),
select:not(form.elicit *),
textarea:not(form.elicit *) {
  width: 96%;
  height: 50px;
  padding: 10px 2%;
  font-size: var(--fornt-size-sm);
  background: var(--color-bg-gray-idle);
  color: var(--color-text);
  border: 0.5px solid var(--color-border-gray-idle);
  border-radius: 6px;
  outline: none;
  transition:
    border-color 0.15s,
    box-shadow 0.15s;

  font-family: 'Poppins';
}
