<div class="toolbar-container">
  <div class="filter-badge-wrapper">
    @for (filter of filters(); track filter.field) {
      @if (filter.show) {
        <ely-badge size="sm" [hasCloseIcon]="filter.canClose" (closed)="onBadgeClosed(filter)">
          {{ ['pending', 'canBeBorrowed'].includes(filter.field) ? filter.field === 'canBeBorrowed' ? (filter.value ? 'can be borrowed' : 'cannot be borrowed') : filter.field : filter.value }}
        </ely-badge>
      }
    }
  </div>
  <span class="spacer"></span>
  @if (showClearFilter()) {
    <ely-button appearance="link" icon="history" (btnclicked)="clearFilter()">
      Clear Filters
    </ely-button>
  }
  @if (canAccessEquipment) {
    <ely-toggle
      [isChecked]="isPending()"
      [badge]="pendingApprovalCount"
      label="Pending Approval"
      (toggle)="onPendingToggle($event)"
      tooltip="Show equipment with unconfirmed changes awaiting approval"
    />
    <ely-button appearance="link" icon="add" (btnclicked)="addNewEquipment()">
      New Equipment
    </ely-button>
    <ely-button
      appearance="link"
      icon="download"
      (btnclicked)="onDownloadReport()"
    >
      Report
    </ely-button>
  }
  <ely-button appearance="link" icon="filter_list" (btnclicked)="openFilterDialog()">
    Filter
  </ely-button>
  <app-input suffix_icon="search" [formControl]="searchControl" placeholder="Equipment Name" />
</div>
