<div class="create-equipment-container">
  <app-input label="Name*"></app-input>
  <app-input label="Serial Number"></app-input>
  <app-input label="Model Number"></app-input>
  <app-autocomplete label="Equipment Type"></app-autocomplete>
  <app-input label="Categories"></app-input>
  <app-autocomplete label="Brand"></app-autocomplete>
  <app-input label="Color"></app-input>
  <app-input label="Unit"></app-input>
  <app-autocomplete label="Matter"></app-autocomplete>
  <app-input label="Description"></app-input>
  <app-input label="Remarks"></app-input>
  <app-autocomplete label="Inventory Type"></app-autocomplete>
  <app-input label="Location"></app-input>
</div>
