.container {
  padding: 0;
  max-height: 80vh;
  min-width: 440px;
}

.content-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
}

.content-body .label {
  text-transform: uppercase;
  font-weight: 550;
  color: var(--color-text-primary-strong);
}

.fields-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.fields-grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.field.full {
  grid-column: 1 / -1;
}

.toggle-field {
  border-radius: 5px;
  padding: 5px 8px;
  background: var(--color-bg-gray-idle);
}

.cond-qty-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.condition-wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: baseline;
}

.action-wrapper {
  flex-direction: column;
  padding: 10px 20px;
  align-items: flex-end;
}
