.create-equipment-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 2em;
}
.image-wrapper {
  width: 180px;
  height: 180px;
}
.fit-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.create-equipment-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
  max-height: 80vh;
  max-width: 650px;
}
