
<form [formGroup]="equipmentForm" (ngSubmit)="submit()">
  <div class="container">
    <div class="dialog-header">
      <div>
        <p class="dialog-title">Add Equipment</p>
        <p class="dialog-sub">Fill in the details below to register new equipment</p>
      </div>
      <ely-icon size="lg" name="close" (iconclicked)="onClose()" />
    </div>
    <mat-divider></mat-divider>
    <div class="content-body">
      <div class="label">Basic Information</div>
      <div class="fields-grid">
        <app-input label="Serial Number" formControlName="serialNo"/>
        <app-input label="Name *" formControlName="name"/>
        <!-- <app-autocomplete label="Equipment Type" formControlName="type" [options]="equipmenttypelist()"/>
        <app-autocomplete label="Brand" formControlName="brand" [options]="brandlist()"/> -->
        <app-input label="Equipment Type" formControlName="type"/>
        <app-input label="Brand" formControlName="brand"/>
        <app-input label="Model Number" formControlName="modelNo" />
        <app-input label="Color" formControlName="color" />
        <div class="field full">
          <app-input label="Categories" formControlName="categories" />
          <!-- <app-autocomplete label="Category" formControlName="categories" [options]="categorylist()"/> -->
        </div>
      </div>
      <div class="label">Condition and Quantity</div>
      <div formArrayName="conditionAndQuantity" class="cond-qty-container">
        @for (item of conditionAndQuantity.controls; track $index; let last = $last; let first = $first) {
          <div class="condition-wrapper" [formGroupName]="$index">
            <app-input label="Quantity" width="sm" formControlName="quantity"/>
            <app-autocomplete [options]="conditions" label="Condition" formControlName="condition" />
            <ely-icon size="lg" name="close" (iconclicked)="removeConditionAndQuantity($index)"/>
            <!-- <ely-button icon="delete_outlined" appearance="link" (btnclicked)="removeConditionAndQuantity($index)">Remove</ely-button> -->
          </div>
        }
        <ely-button icon="add" appearance="link" (btnclicked)="addConditionAndQuantity()">Add Quantity</ely-button>
      </div>
      <div class="label">Unit and Classification</div>
      <div class="fields-grid">
        <app-dropdown label="Unit" formControlName="unit" [options]="units"/>
        <app-dropdown label="Matter" formControlName="matter" [options]="matter"/>
        <app-dropdown label="Inventory Type" formControlName="inventoryType" [options]="inventoryTypes"/>
      </div>
      <div class="label">Assignment</div>
      <div class="fields-grid">
        <app-autocomplete label="Department" formControlName="department" [options]="departmentlist()" [readonly]="true"/>
        <app-autocomplete label="Location" formControlName="location" [options]="locationlist()" placeholder=""/>
      </div>
      <div class="label">Dates</div>
      <div class="fields-grid">
        <app-datepicker label="Date Acquired" formControlName="dateAcquired" />
        <app-datepicker label="Warranty Period" formControlName="warrantyPeriod" />
      </div>
      <div class="label">Options</div>
      <div class="fields-grid">
        <div class="toggle-field">
          <ely-toggle label="Can be borrowed" [isChecked]="equipmentForm.get('canBeBorrowed')?.value" (toggle)="onToggleCanBeBorrowed($event)" />
        </div>
         <div class="toggle-field">
          <ely-toggle label="Has inventory tag" [isChecked]="equipmentForm.get('hasTag')?.value" (toggle)="onToggleHasTag($event)" />
        </div>
      </div>
      <div class="label">Additional Information</div>
      <div class="fields-grid">
        <div class="field full">
          <app-textarea label="Description" formControlName="description"></app-textarea>
          <app-textarea label="Remarks" formControlName="remarks"></app-textarea>
        </div>
      </div>
      <div class="label">Images</div>
      <app-file-input (filechanged)="addImage($event)"></app-file-input>
    </div>
    <mat-divider></mat-divider>
    <div class="action-wrapper">
      <ely-button appearance="link" icon="check" type="submit">Save Equipment</ely-button>
    </div>
  </div>
</form>
