<div class="change-password-container">
  <ely-input
    [(ngModel)]="currentPassword"
    [type]="inputType"
    suffixIcon="password"
    placeholder="Current Password"
  />
  <ely-input
    [(ngModel)]="newPassword"
    [type]="inputType"
    suffixIcon="password"
    placeholder="New Password"
  />
  <span class="note">Minimun of 5 characters.</span>
  <ely-toggle label="Show Password" (toggle)="onShowPassword()"/>
  <div class="action-wrapper">
    <ely-button width="width-filled" variant="primary" (btnclicked)="onPasswordUpdate()">
      Update Password
    </ely-button>
  </div>
</div>