<div class="change-password-container">
  <app-input
    [(ngModel)]="currentPassword"
    [inputType]="inputType"
    suffix_icon="password"
    placeholder="Current Password"
  />
  <app-input
    [(ngModel)]="newPassword"
    [inputType]="inputType"
    suffix_icon="password"
    placeholder="New Password"
  />
  <span class="note">Minimun of 5 characters.</span>
  <app-toggle label="Show Password" (toggle)="onShowPassword()"/>
  <div class="action-wrapper">
    <app-button width="width-filled" type="primary" (btnclicked)="onPasswordUpdate()">
      Update Password
    </app-button>
  </div>
</div>