<div class="toolbar-container">
  <div class="filter-badge-wrapper">
    @for (filter of filters; track filter.field) {
      @if (filter.show) {
        <ely-badge size="sm" [hasCloseIcon]="filter.canClose" (closed)="onBadgeClosed(filter)">
            {{
            ['advanced', 'enable_cancel'].includes(filter.field)
              ? filter.field
              : filter.value
            }}
        </ely-badge>
      }
    }
  </div>
  <span class="spacer"></span>
  @if (filters.length) {
    <ely-button appearance="link" icon="history" (btnclicked)="clearFilter()">
      Clear Filters
    </ely-button>
  }
  <ely-toggle
    label="Advance Options"
    [isChecked]="infoAndHistory"
    tooltip="Display additional option on adding transaction and viewing details"
    (toggle)="onShowInfoAndHistoryToggle($event)"
  />
  <ely-toggle
    label="Enable Cancel"
    [isChecked]="enableCancel"
    (toggle)="onEnableCancelToggle($event)"
    tooltip="Cancel allowed only before approval."
  />
  <ely-button appearance="link" icon="filter_list" (btnclicked)="openFilterDialog()">
    Filter
  </ely-button>
  <ely-input
    class="field-underline"
    suffixIcon="search"
    [hasRadius]="false"
    [formControl]="searchControl"
    placeholder="Equipment Name"
  />
</div>
