.card-container {
  display: flex;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .qty-icon-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    gap: 5px;
  }
}

.image-wrapper {
  width: 35px;
  height: 35px;
}
.fit-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* sizes */
.card-container.md {
  max-width: 250px;
  min-width: 200px;
  height: 40px;
  padding: 10px;
  border-radius: 0.5rem;
  gap: 5px;
}

/* color */
.card-container.primary {
  background: var(--primary-50);
}
