.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 140px;
    text-align: start;
  }

  .content span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .quantity {
    min-width: 15px;
    cursor: pointer;
    text-align: center;
    font-weight: 550;
  }
}

.image-wrapper {
  width: 35px;
  height: 35px;
}
.fit-image {
  width: 35px;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* sizes */
.card-container.md {
  max-width: 320px;
  min-width: 220px;
  height: 40px;
  padding: 10px;
  border-radius: 0.5rem;
  gap: 5px;
}

/* color */
.card-container.primary {
  background: var(--primary-50);
}
