<div class="card-container" [ngClass]="[size, type, shade]">
  <div class="image-wrapper">
    <img class="fit-image" [src]="equipment.images[0]?.thumbnail ?? default_img" />
  </div>
  <div class="content">
    <span>{{ equipment.name }}</span>
    <span>{{ equipment.brand }}</span>
  </div>
  <span>1</span>
  <div class="qty-icon-wrapper">
    <app-icon name="add" size="sm"></app-icon>
    <app-icon name="remove" size="sm"></app-icon>
  </div>
  <app-icon name="close" size="lg"></app-icon>
</div>
