<form [formGroup]="classScheduleForm" (ngSubmit)="onSubmit()">
  <div class="class-detail-container">
    <div class="subtitle">Subject and Purpose</div>
    <app-autocomplete
      label="Class/Subject*"
      placeholder="Start typing"
      formControlName="courseOffer"
      [options]="courseOfferingAutoCompleteOptions"
    />
    @if(courseOffer) {
      <app-course-offer-detail-card [courseOffer]="courseOffer"></app-course-offer-detail-card>
    }
    <div class="subtitle">Purpose</div>
    <app-autocomplete label="Purpose*" formControlName="purpose" [options]="purposeOptions" />
    <div class="subtitle">Start Date of Use</div>
    <app-datepicker label="Start date" formControlName="startDate"></app-datepicker>
    <ely-input label="Start Time*" type="time" formControlName="startTime" />
    <div class="subtitle">End Date of Use</div>
    <app-datepicker label="End date" formControlName="endDate"></app-datepicker>
    <ely-input label="End Time*" type="time" formControlName="endTime" />
  </div>
  <div class="action-wrapper">
    <ely-button size="md" type="submit" width="width-filled" variant="accent">Submit Request</ely-button>
  </div>
</form>
