.class-detail-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 7px;
  gap: 5px;
  border: 1px solid var(--accent);
  background-color: var(--card-bg);
}

.subtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--primary-700);
  font-weight: 600;
  font-size: 12px;
  padding: 5px 0;
}

.action-wrapper {
  padding: 15px 0;
  display: block;
}
