.class-detail-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

.subtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--primary-700);
  font-weight: 600;
  font-size: 12px;
  padding: 5px 0;
}

.action-wrapper {
  padding: 15px 10px;
}
