.side-menu {
  height: calc(100% - 78px);
  width: 0;
  display: none;
  position: absolute;
  z-index: 1;
  top: 74px;
  right: 0;
  transition: 0.5s;
  border: 1px solid var(--accent);
  background-color: var(--card-bg);
  padding: 0 10px;
  border-radius: 10px 0 0 10px;
}

.side-menu.open {
  width: 25vw;
  display: block;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
}
