.menu-container {
  position: absolute;
  display: none;
  width: 250px;
  right: 3.5rem;
  padding: 10px;
  border-radius: 8px;
  background: var(--primary-100);
  border: 1px solid var(--primary-700);
}

.menu-container.show {
  display: block;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  padding: 6px 0;

  .title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: var(--primary-700);
  }

  .subtitle {
    color: gray;
  }
}

.action-wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 6px 0;
}
