<div class="menu-container" [class.show]="show">
  <div class="title-wrapper">
    <div class="title">{{ title }}</div>
    @for (sub of subtitles; track sub) {
      <div class="subtitle">{{ sub }}</div>
    }
  </div>
  <ely-button appearance="link" icon="password" (btnclicked)="onChangePassword()">Change Password</ely-button>
  <mat-divider></mat-divider>
  <div class="action-wrapper">
    <ely-button appearance="link" icon="logout" (btnclicked)="logout()">Log Out</ely-button>
  </div>
</div>
