
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

:root {
  mat-form-field {
    --mat-sys-surface-variant: transparent;
    width: -webkit-fill-available;
    font-family: var(--mat-form-field-container-text-font, var(--mat-sys-body-small-font) Roboto);
    line-height: var(--mat-form-field-container-text-line-height, var(--mat-sys-body-small-line-height));
    font-size: var(--mat-form-field-container-text-size, var(--mat-sys-body-small-size));
    letter-spacing: var( --mat-form-field-container-text-tracking,var(--mat-sys-body-small-tracking));
    font-weight: var(--mat-form-field-container-text-weight, var(--mat-sys-body-small-weight));
    height: 70px;
    margin-bottom: -22px;

    // Input override
    @include mat.form-field-overrides(
      (
        container-text-font: 8px,
        subscript-text-font: 8px,
        outlined-label-text-font: 8px,
        filled-label-text-font: 8px,

        //filled form field overrides
        // filled-active-indicator-color: var(--primary),
        // filled-focus-active-indicator-color: var(--primary),
        // filled-focus-label-text-color: var(--primary)
      )
    );
    .mat-mdc-form-field-focus-overlay {
      background-color: transparent;
    }

    mat-label {
      font-size: var(--mat-form-field-filled-label-text-size, var(--mat-sys-body-small-size))
    }
  }

  // Dropdown option override
  mat-select,
  mat-option.mat-mdc-option {
    // font-family: var(--mat-form-field-container-text-font, var(--mat-sys-body-small-font) Roboto);
    line-height: var(--mat-form-field-container-text-line-height,var(--mat-sys-body-small-line-height));
    font-size: var(--mat-form-field-container-text-size, var(--mat-sys-body-small-size));
    letter-spacing: var(--mat-form-field-container-text-tracking, var(--mat-sys-body-small-tracking));
    font-weight: var(--mat-form-field-container-text-weight, var(--mat-sys-body-small-weight));
  }

  // @include mat.select-overrides((
  //   panel-background-color: var(--primary-50),
  //   focused-arrow-color: var(--primary)
  // ));

  // Tooltip override
  @include mat.tooltip-overrides((
    container-color: var(--gray-100),
    supporting-text-color: var(--gray-900)
  ));
}

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-small);

  // Reset the user agent margin.
  margin: 0;
}


.h1-title {
  font-size: 2rem;
  font-weight: 500;
}
.h3-title {
  font-size: 1.5rem;
  padding: 2px 10px;
}

.underlined {
  -webkit-text-decoration: underline var(--accent) solid 4px;
  text-decoration: underline var(--accent) solid 0.2em;
  text-underline-offset: 1px;
  text-decoration-skip-ink: none;
}