<div class="container">
  <ely-title-section>Inventory</ely-title-section>
  <app-inventory-toolbar
    [pendingApprovalCount]="pendingApproval()"
    [filters]="filterDisplay()"
    [department]="selectedDept()._id"
    [canAccessEquipment]="canAccessEquipment()"
    (downloadReport)="onDownloadReport($event)"
  />
  <div class="list-wrapper">
    @for (eqpmnt of equipment(); track eqpmnt._id; let first = $first) {
      <ely-data-row
        size="md"
        [columns]="getRowData(eqpmnt)"
        [showHeader]="first"
        (actionClicked)="onActionClicked($event, eqpmnt)"
      />
    } @empty {
      <span>No items.</span>
    }
  </div>
  <div class="action-wrapper">
    <ely-button (btnclicked)="loadMoreEquipment()" [disabled]="!hasMore"> Show more... </ely-button>
  </div>
</div>
