.equipment-page-container {
  display: flex;
  flex-direction: column;
}

.equipment-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-action-wrapper {
  display: flex;
  justify-content: center;
  padding: 2em;
}
